<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css"/>
    <title>Ingreso</title>
</head>


<body class="color-F">
   <header class="pageHeader">
     
      <div class="caracteristica-header">
     
          <div class="caracteristica-logo">
           <a class="nav-link" href="/mercado"><img src="/images/logo-mercado-liebre.svg"> </a>  
          </div>
          <div class="bus">
              <form class="formulario-busqueda">
                <input class='buscador'type="text" placeholder="Buscar productos, marcas">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
              </form>
          </div>
       
                 <div class="mano"><i class="fas fa-hand-holding-usd mano-centrada"></i>Comprá en cuotas y sin tarjeta de crédito</div>
      
      </div>
      
      <div class="cajanav">
        <div class="jota">
      <div class="ofertasheader">
        <ul class="oferta">
         <li class="o">Ofertas</li>   
         <li class="o">Tiendas Oficiales</li>   
         <li class="o">Vender</li>   
         <li class="o">Ayuda</li>   
        </ul> 
      </div>

        <div class="cuenta"> 
          <ul class="cuenta-lista">
        
                 <li class="o">
                        <a class="nav-link" href="/register"
                            >Crea tu cuenta <i class="fa-solid fa-address-card"></i
                      ></a>
                  </li>

         <li class="o">
            <a class="nav-link" href="/login"
              >Ingresá <i class="fa-solid fa-right-to-bracket"></i
            ></a>
          </li>   
          
         <li class="o">Mis compras <i class="fa-solid fa-basket-shopping"></i></li>   
        </ul>
        </div> 
        </div>
         </div>


        <div class="menu"><i class="fas fa-bars menu-centrado" id="menu"></i></div>
    </header>
<body>
    
   <section class="form-register1">
    <form method="action">
                
              
               <label  for="nombre"></label><br>
                
         <br> <input class="controls1" type="text" id="nombre" name="nombre" maxlength= "30" required placeholder="Nombre de usuario"><br>
            
                
         <br>  <label for="correo"></label><br>
                
         <br> <input class='controls1' type="password" id="correo" name="correo" maxlength= "30" required placeholder="Coloca tu contraseña"><br>
                
                <div><input type="submit" value="Enviar Datos" class="buttons1"></div>
         
                </form>
                </section>

                    <footer class="piedepagina">
    <div class="tarjetas">
     <div> <i class="fa-solid fa-address-card diseñofooter"></i>
     <p class="foot">Pagá con tarjeta o en efectivo</p>
     <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
     </div>
     <div> <i class="fa-solid fa-gift diseñofooter"></i>
     <p class="foot">Envío gratis desde $ 2.500</p>
     <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
     </div>
     <div> <i class="fa-solid fa-user-shield diseñofooter"></i>
     <p class="foot">Seguridad, de principio a fin</p>
     <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
     </div></div>
     <div class="copy">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
     </div>
     <div>
      <p class="autor">Derecho de autor Javier Olivera</p></div>
     
    </footer>
</body>
</html>