<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css"/>
    <title>Registro</title>
</head>

</header>
<body class="color-F">
    <header class="pageHeader">
      <div class="caracteristica-header">
    <div class="caracteristica-logo">
     <img src="/images/logo-mercado-liebre.svg">   
    </div>
    <div>
   <form>
   <input type="text" placeholder="Buscar productos, marcas" class="buscador">
   <button type="submit"><i class="fas fa-search" ></i></button><br>
   </form>
    </div>
    
    <div class="mano"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</div>
   
      </div>
      <div>
        <ul class="oferta">
         <li>Ofertas</li>   
         <li>Tiendas Oficiales</li>   
         <li>Vender</li>   
         <li>Ayuda</li>   
        </ul>

        <ul>
        
                 <li>
            <a class="nav-link" href="/register"
              >Crea tu cuenta <i class="fa-solid fa-address-card"></i
            ></a>
          </li>

         <li>
            <a class="nav-link" href="/login"
              >Ingresá <i class="fa-solid fa-right-to-bracket"></i
            ></a>
          </li>   
          
         <li>Mis compras <i class="fa-solid fa-basket-shopping"></i></li>   
        </ul>
        </div>

        <div class="menu"><i class="fas fa-bars menu-centrado" id="menu"></i></div>
    </header>
<body>
 

          <section class="form-register">
     
        
            <form method="action">
            
            
            
            <input class="controls" type="text" name="Nombre"  placeholder="Nombre y apellido"> </div>
            
        
           <input class="controls" type="text" name="Apellido"  placeholder="Nombre de usuario">  </div>

            <input class="controls" type="text" name="Domicilio"  Domicilio placeholder="E-mail">  </div>
            

            <h2 class="letraF">Fecha de nacimiento</h2>

            <input class="controls" type="date" name="fecha" value="mm/dd/yyyy" min="1950-01-01" max="2022-12-31" class="nacimiento">

            
            <input class="controls" type="text" name="Domicilio"  Domicilio placeholder="Domicilio">  </div>
            
            
            
            
            <h2 class="letraF">Perfil del usuario</h2>
            
          <div class="compra-venta">
           <p class="c"> <input type="radio" name= "Particular" class="caja-comprador"> Comprador </p>
            
            
           <p class="c"><input type="radio" name= "Particular" class="caja-vendedor"></p> Vendedor </div>
            
        
        
             <h2 class="letraF">Intereses</h2>
             
           <div class="chex"> <input class='c'type="checkbox" name="electro">Electronica 
            
               <input class='c' type="checkbox" name="ropa">Ropa 
            
               <input class='c' type="checkbox" name="autos">Automovil 
            
              <input class='c' type="checkbox" name="hogar">Hogar 


             <input type="checkbox" name="juguetes">Jugueteria </div>
            
    
  

        <input class='buttons' type="submit" value= Registrar>
         
            
    
        </section>
        
        </form></div>
    
</body>
</html>