<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css"/>
    <title>Registro</title>
</head>

<header class="pageHeader">
     
      <div class="caracteristica-header">
     
          <div class="caracteristica-logo">
           <a class="nav-link" href="/mercado1"><img src="/images/logo-mercado-liebre.svg"></a>  
          </div>
          <div class="bus">
              <form class="formulario-busqueda">
                <input class='buscador'type="text" placeholder="Buscar productos, marcas">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
              </form>
          </div>
       
                 <div class="mano"><i class="fas fa-hand-holding-usd mano-centrada"></i>Comprá en cuotas y sin tarjeta de crédito</div>
      
      </div>
      
      <div class="cajanav">
        <div class="jota">
      <div class="ofertasheader">
        <ul class="oferta">
         <li class="o">Ofertas</li>   
         <li class="o">Tiendas Oficiales</li>   
         <li class="o">Vender</li>   
         <li class="o">Ayuda</li>   
        </ul> 
      </div>

        <div class="cuenta"> 
          <ul class="cuenta-lista">
        
                 <li class="o">
                        <a class="nav-link" href="/register"
                            >Crea tu cuenta <i class="fa-solid fa-address-card"></i
                      ></a>
                  </li>

         <li class="o">
            <a class="nav-link" href="/login"
              >Ingresá <i class="fa-solid fa-right-to-bracket"></i
            ></a>
          </li>   
          
         <li class="o">Mis compras <i class="fa-solid fa-basket-shopping"></i></li>   
        </ul>
        </div> 
        </div>
         </div>


        <div class="menu"><i class="fas fa-bars menu-centrado" id="menu"></i></div>
    </header>
<body class="color-register">
 

          <section class="form-register">
     
        
            <form method="action">
            
            
            
            <input class="controls" type="text" name="Nombre"  placeholder="Nombre y apellido"> </div>
            
        
           <input class="controls" type="text" name="Apellido"  placeholder="Nombre de usuario">  </div>

            <input class="controls" type="text" name="Domicilio"  Domicilio placeholder="E-mail">  </div>
            

            <h2 class="letraF">Fecha de nacimiento</h2>

            <input class="controls" type="date" name="fecha" value="mm/dd/yyyy" min="1950-01-01" max="2022-12-31" class="nacimiento">

            
            <input class="controls" type="text" name="Domicilio"  Domicilio placeholder="Domicilio">  </div>
            
            
            
            
            <h2 class="letraF">Perfil del usuario</h2>
            
          <div class="compra-venta">
           <p class="c"> <input type="radio" name= "Particular" class="caja-comprador"> Comprador </p>
            
            
           <p class="cq"><input type="radio" name= "Particular">Vendedor </p> </div>
            
        
        
             <h2 class="letraF">Intereses</h2>
             
           <div class="chex"> <input class='c'type="checkbox" name="electro">Electronica 
            
               <input class='c' type="checkbox" name="ropa">Ropa 
            
               <input class='c' type="checkbox" name="autos">Automovil 
            
              <input class='c' type="checkbox" name="hogar">Hogar 


             <input type="checkbox" name="juguetes">Jugueteria </div>
            
    
  

        <input class='buttons' type="submit" value= Registrar>
         
            
    
        </section>
        
        </form></div>

            <footer class="piedepagina">
    <div class="tarjetas">
     <div> <i class="fa-solid fa-address-card diseñofooter"></i>
     <p class="foot">Pagá con tarjeta o en efectivo</p>
     <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
     </div>
     <div> <i class="fa-solid fa-gift diseñofooter"></i>
     <p class="foot">Envío gratis desde $ 2.500</p>
     <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
     </div>
     <div> <i class="fa-solid fa-user-shield diseñofooter"></i>
     <p class="foot">Seguridad, de principio a fin</p>
     <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
     </div></div>
     <div class="copy">
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
     </div>
     <div>
      <p class="autor">Derecho de autor Javier Olivera</p></div>
     
    </footer>
    
</body>
</html>