* {

    margin: 0;
    padding: 0;
}
.caracteristica-main{

    
    width: 90vw;
    margin: auto;
    
}
.w-100{

width: 100%;
}
.w-50{

    width: 50%;
}


.pageHeader {

background-color: #EAC926;

}

.mano 
{
margin-left: 85px;
margin-top: 25px;
}


.logo{

    height: 75px;
   margin-top: 25px;
   margin-left: 35px;
}

.buscador{

    margin-left: 40px;
    margin-top: 20px;
}

article {
    
    margin-bottom: 10px;
    border: solid 1px #ebebeb;
    background-color: white;
    
 }

.detail-products{

  margin: 15px;

}

.bg-gris{


    background-color: #ebebeb;
}

footer {

  text-align: center;
  background-color: #EAC926;
  margin: auto;
  border-radius: 40px;
  font-family: cursive;


}

.menu {

     width: 50px;
     height: 50px;
     background-color: #1259c3;
     border-radius: 5px;
     margin: auto;
     text-align: center;
    
    }

.menu-centrado{

  font-size: 2em;
  color: white;
  margin-top: 10px;

}

.oferta {

margin: 30px;
margin-left: auto;
}

.titulo-size {
  font-size: 24px;
  color: #666;

}

@media (min-width:481px){
    
}

@media(min-width:769px){
    
   .product-shadow{
    box-shadow: none;
    }
    .description {
     display:none;
    }
}
@media(min-width:1281px){
  
}
.product-shadow{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
