* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

 font-family: 'Roboto', sans-serif;
 }


.w-100{

width: 100%;
}
.w-50{

    width: 50%;
}

.pageHeader {

background-color: #EAC926;

}

.mano-centrada
{
margin: auto;
padding-top: 15px;

}
.buscador{

    width: 70%;
    margin-left: 20px;
}

 .caracteristicas-productos{

    background-color: white;
    margin-bottom: 10px;
    border: solid 1px #ebebeb;
    box-sizing: border-box;
  
} 

  .formulario-busqueda{
    width: 50vw;
  
  }
.detalles-productos{

    margin: 15px;
    position: relative;
    box-sizing: border-box;

}

.detalles-productos i  {
display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
color: #39b54a;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -35px;

   
}
.detalles-productos i:hover{
-webkit-transform: rotate(360deg);
transition: 1s ease-in-out;
   
}


.bg-gris{


    background-color: #ebebeb;
}

.piedepagina{

        width: 100%;
         background-color: white;
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        justify-content: center;
}

.tarjetas {
 width: 100%;
  display: flex;
 text-align: center;
  padding-top: 15px;
  
}
.copy{
width: 100%;
margin-top: 10px;
text-align: center;
 
}
.autor{
 
  width: 100%;
  margin-top: 10px;
text-align: center;
}
.foot{

  font-family: cursive;
}
.diseñofooter{

  color: #1259c3;
}
.diseñofooter:hover{
  
   color: #666;
   transform: scale(1.50);
  
}
.compra-venta{

margin: 15px;

}
.menu {

     width: 50px;
     height: 50px;
     background-color: #1259c3;
     border-radius: 5px;
     margin: auto;
     text-align: center;
    
     
    
    }

.menu-centrado{

  font-size: 2em;
  color: white;
  margin-top: 10px;
   

}
.cq{

  margin-left: 80px;
}
.oferta {

margin: 30px;
margin-left: auto;
}

.titulo-size {
  font-size: 24px;
  color: #666;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

}
.cajanav{
 display: none;
}

.product-shadow{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
 
.precio-cafetera {
  display: flex;
  
 
}
.precio-productos {
  display: flex;
  justify-content: flex-start;

}
.precio{
 width: 30vw;
 font-size: 18px;
 align-items: flex-start;


}
.descuento {

  color: #39b54a;
  width: 80vw;
  font-size: 16px;
  
}


.descripcion {

font-size: 17px;
color: #666;


}
.imagen {


  border-bottom: 1px solid grey;
}

.caracteristica-header
{
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.caracteristica-logo{

  width: 50vw;

}

.controls{
width: 100%;
background-color:white;
padding: 10px;
border-radius: 4px;
margin-bottom: 13px;
border: 1px ;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 15px;

}
.controls1{
width: 50%;
background-color:white;
padding: 10px;
border-radius: 4px;
margin-bottom: 15px;
border: 1px ;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 15px;
margin-left: 25%;


}
.letraF{

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20PX;
  padding-bottom: 15px;
}

.compra-venta{

  display: flex;
  padding-bottom: 15px;
  
}

.form-register{

width: 400px;
background: #E5E7E9;
padding: 30px;
margin: auto;
margin-top: 100px;
box-shadow: 7px 13px 73x #666;
margin-bottom: 40px;
}
.form-register1{
width: 100%;
background: #E5E7E9;
box-shadow: 7px 13px 73x #666;

}

.buttons{

width: 100%;
background-color: blue;
padding: 12px;
padding-bottom: 15px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 15px;
border: none;
margin: 16px 0;
color: white;
}
.buttons:hover{
  background-color: rgb(57, 57, 104);
  box-shadow: 0px 0px 10px rgb(120, 104, 136);
}


.buttons1{

width: 50%;
background-color: blue;
padding: 12px;
padding-bottom: 15px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 15px;
border: none;
margin: 16px 0;
color: white;
margin-left: 25%;
margin-top: 15px;
}

.buttons1:hover{
  background-color: rgb(57, 57, 104);
  box-shadow: 0px 0px 10px rgb(120, 104, 136);

}
.chex{

padding-bottom: 15px;
display: flex;
flex-direction: column;

}
.caracteristica-main{
 
    width: 90vw;
    margin: auto;
    
}
.enviar:hover{
  color: #ebebeb;
}


@media (min-width:481px){
  /*tablet*/

  .caracteristica-header{
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        flex-wrap: wrap;
}

  .caracteristicas-productos {

        width: 40vw;
        background-color: white;
        margin-bottom: 10px;
        border: solid 1px #ebebeb;
        box-sizing: border-box;


    }
    .caracteristicas-productos:hover{
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
      transform: translateY(-3%);
      

    }

    .seccion-productos 
    {
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .cajanav {
      display: contents;
      
    }
    .bus{
      width: 20vw;
      margin: 50px;

    }
   .mano{
      width: 25vw;
      margin: 50px;
      

   }
   
    .caracteristica-logo{
      width: 20vw;
      margin: 50px;

    }
    .buscador{
         width: 20vw;
         border-radius: solid 2px;
         border-color: rgb(47, 47, 73);
         border-radius: 5px;
      
    }
    .lupita{
        border-radius: solid 2px;
         border-color: rgb(47, 47, 73);
         border-radius: 5px;
         
    }
    
}


@media(min-width:769px){
  /*nootbok*/

   .caracteristica-header{
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        flex-wrap: wrap;
}

.bus{
      width: 20vw;
      margin: 50px;

    }
   .mano{
      width: 25vw;
      margin: 50px;
      

   }
   
    .caracteristica-logo{
      width: 20vw;
      margin: 50px;

    }
    .buscador{
         width: 20vw;


    }
    
   .product-shadow{
    box-shadow: none;
     
    }
    .descripcion {
     display:none;
    }

    .product-shadow:hover .descripcion{

      display: block;
    
    }
    .caracteristicas-productos {

        width: 20vw;
        background-color: white;
        margin-bottom: 10px;
        border: solid 1px #ebebeb;
        box-sizing: border-box;
        
    }

    .seccion-productos 
    {
        display:flex;
        justify-content: space-between;
    }
    .buscar{

      display:flex;
    }

     .cajanav {

      display: contents;
                      
    }
    .menu{

      display: none;
    }
      
  .oferta{

    display: flex;
    list-style: none;
  }
  .cuenta-lista{

    display: flex;
    list-style: none;
    
     justify-content: end;
    
  }
 
  .ofertasheader{
    width: 50%;
       
  }

  .o {
   padding: 15px;
 
  }
  .cuenta{
    width: 50%;
    
    margin-top: 25px;
    
  }
 .jota{

  display: flex;
  
 }
}
@media(min-width:1281px){

  /*escritorio*/


   .caracteristica-header{
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        flex-wrap: wrap;
}

.bus{
      width: 20vw;
      margin: 50px;

    }
   .mano{
      width: 25vw;
      margin: 50px;
      

   }
   
    .caracteristica-logo{
      width: 20vw;
      margin: 50px;

    }
    .buscador{
         width: 20vw;


    }
   .caracteristicas-productos {

       width: 20vw;
        background-color: white;
        margin-bottom: 10px;
        border: solid 1px #ebebeb;
        box-sizing: border-box;
    }

    .seccion-productos 
    {
     display:flex;
        justify-content: space-between;

    }

    .cajanav {

      display: contents;
    }
    
}
